/*
flip card
*/

.card-flip>div {
    backface-visibility: hidden;
    transition: transform 500ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

.card,
.card-body,
.card-front,
.card-back,
.card-img {
    border-radius: 20px !important;
}


/*
For demo purpose
*/


/* @import url('https://fonts.googleapis.com/css?family=Roboto|Barrio'); */

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Karla%3A100%2C100italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic%7C&ver=5.4.2');

/* @import url('https://fonts.googleapis.com/css?family=Roboto|Barrio'); */

body {
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/strange_bullseyes.png);
    font-family: 'Karla', 'Oswald';
    perspective: 1000;
}

h1,
h2,
h3,
h4 {
    font-family: 'Oswald';
}

.card-title {
    max-width: 100%;
    font-size: 4vw;
}

.card-img,
.card-img-top,
.card-img-bottom {
    min-width: 100%;
    height: 48vh;
    min-height: 48vh;
}

.card-img {
    filter: brightness(75%) saturate(50%);
}

.lift {
    z-index: 4000;
}


/* =========================================== */